/* .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: opacity 0.3s;
  width: 280px;
  height: 280px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 592px;
    height: 208px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
} */
