.content {
  position: absolute;
  color: var(--colorsPrimaryDark);
  left: 50%;
  top: 40px;
  transform: translate(-50%);
  background-color: white;

  width: 280px;
  padding: 32px 12px;
  border-radius: 10px;
  background: #fff;

  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
  .content {
    width: 704px;
    padding: 32px 24px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1008px;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

p {
  margin-bottom: 0;
}
