.input_container {
  font-size: 16px;
  line-height: calc(20 / 16);
  padding: 11px 10px;
  color: #407bff;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #9ebbff;
  }
}
