@import url('../node_modules/modern-normalize/modern-normalize.css');
@import url('./CommonStyle/themeCSS.css');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts//Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff'),
    url('./fonts//Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff'),
    url('./fonts//Roboto-Bold.ttf') format('truetype');
}
